html{
    scroll-behavior: smooth;
}
body{
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}
nav{
    display: flex;

    justify-content: space-around;

}
#mess{
    display: block;
}
#logo p{
    display: none;
}
ul{
  display: flex;  
  
}
li{
    padding: 10px;
    list-style: none;
}
a{

    border: 1px solid transparent;
    color: black;
    font-size: 0.8rem;
  text-decoration: none;
  transition: 1s ease;
}
a:hover{
  transition: 1s ease;
  transform-origin: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.548);
  opacity: 1;
    
}
#logo h1{
   
    font-weight: 10px;

}






@media(max-width:446px){

    #mess{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card .details a i{
        color:black;
    }
    ul{
        display: flex;
        flex-direction: row;
        background-color: rgb(143, 143, 143);
        color:white;
        align-items: center;
        padding: 0;
        border-radius: 1px;
        justify-content: center;
    }

    #logo p{
        display: block;
        border-left: 2px solid black;
        padding: 10px;
    }
    li{
        color:white;
    }
    a{
        font-weight: bolder;
        color:white;
    }

}

#home{
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.me{
    width: 300px;
    height: 400px;
    margin-bottom: 10;

    }
.me span{
    font-size: 2rem;
}


img{
    opacity: 0.78;
    border-radius: 100%;
    width: 100%;

    filter:grayscale(100%);
}


.icons{
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icons a{
    font-size: 1.5rem;
    color: rgb(100, 99, 99);
    padding: 10px;
}
.icons a:hover{
    color:black;
}
#home h1{
    color:rgb(87, 87, 87);
}




#about{
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   font-size: 3rem;
   align-items: center;
    width: 100%;
    color:rgb(54, 52, 52);
    height: 100px;
    background-color: rgba(211, 211, 211, 0.233);
    
}

.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects{
    width: 100%;
    height: 300vh;
    
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    


}
#projects .slogan2{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#projects .container{
    width: 100%;
    display: grid;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 200vh;
    column-gap: 30px;
    grid-template-columns: repeat(3,250px);
    grid-template-rows:repeat(2,300px);

}
.card{
    width: 250px;
    margin: 10px;
    height: 320px;
    border-radius: 5px;
    box-shadow: -1px 0px 14px 1px #929090;
    display: flex;
    
    flex-direction: column;
    background-color: transparent;

}
.details a{
    font-size: 20px;
}

.fg img{
    width: 250px;
    height: 220px;
    display: block;
    transition: 1s ease;
}
.details{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    height: 100px;
    
    flex-direction: column;
}





@media(max-width:852px) and (min-width:569px){

    #projects .container{
        grid-template-columns: repeat(2,250px);
    grid-template-rows:repeat(2,300px);



    }


}



@media(max-width:569px) {

    #projects .container{
        grid-template-columns: repeat(1,250px);
        justify-content: center;
        align-content: center;
        margin-top: 300px;
       grid-template-rows:repeat(2,300px);
       grid-column-gap: 150px;
      
       grid-row-gap: 100px;


    }
    .card{
        margin-left: 10%;
    }
    .slogan2{
        margin-bottom: 200px;
       
    }



}

@media(max-width:300px){
    #projects .container{
        grid-template-columns: repeat(1,250px);
        justify-content: center;
        align-content: center;
        margin-top: 300px;
       grid-template-rows:repeat(5,300px);
       grid-column-gap: 150px;
       margin-bottom: 100px;
       grid-row-gap: 100px;


    }

    .slogan2{
        margin-bottom: 50px;
        margin-top: 50px;
       
    }
    .card{
        margin-left: 100px;
    }
    footer{
        margin-top: 100px;
    }
}



footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
    width: 100%;

    height: 200px;
    background-color: rgba(236, 236, 236, 0.562);
}

footer .links{
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.links a{
    padding-bottom: 10px;
}

footer .follows{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3px;
}
.follows a{
    padding-bottom: 10px;
}

@media(max-width:854px) and (min-width:596px){
    footer{
        margin-top: 100px;
    }
}

@media(max-width:596px){
    footer{
        margin-top: 1000px;
        height: 600px;
        display: flex;

        flex-direction: column;

    }

    .container .card a{
      color:black;
    }
    footer .follows  a{
        color:black;
        justify-content: center;
    }
    footer .links a{
        color:black;
        justify-content: center;
        align-items: center;
    }
    .copy a{
        color:black;
    }
}
